<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="8" size-md="4" size-lg="3" size-xl="3">
        <h1 class="ion-text-center">
          <ion-icon src="assets/icon/cerca.svg"></ion-icon>
        </h1>
        <h1 class="ion-text-center">Curral Digital</h1>
        <p class="ion-text-center">Versão 0.0.1</p>

        <h1 class="ion-text-center">Desenvolvedoras</h1>

        <p class="ion-text-center">
          Larissa da Silva Brito
        </p>
        <p class="ion-text-center">
          Luana Vitória da Silva Brito
        </p>


        <p>2021 © Todos os direitos reservados</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


