<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="main"></ion-back-button>
    <ion-title>Lista de Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="(animal$ | async) as animals">
    <ng-container *ngIf="animals.length > 0; else noAnimals">
      <app-animal-item *ngFor="let animal of animals" [animal]="animal" (update)="onUpdate($event)" (delete)="onDelete($event)"></app-animal-item>
    </ng-container>
    <ng-template #noAnimals>
      <ion-item lines="none">Sem machos ainda...</ion-item>
    </ng-template>
  </ion-list>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button id="fab" routerLink="/main/create-male"
      routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
