<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" ></ion-back-button>
    <ion-title>Histórico de pesagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="pesoForm">
    <ion-list>
      <ion-item>
        <ion-label>Peso: </ion-label>
        <ion-input
          type="number"
          formControlName="peso"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data: </ion-label>
        <ion-input
          type="date"
          formControlName="data"
          #data
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      class="submit-btn"
      type="submit"
      (click)="savePeso()"
      [disabled]="pesoForm.invalid"
      id="submit"
      expand="full"
    >
      Salvar
    </ion-button>
  </form>

  <ion-list *ngIf="(peso$ | async) as pesos">
    <ng-container *ngIf="pesos.length > 0; else noPesos">
      <app-pesos *ngFor="let peso of pesos" [peso]="peso" (delete)="onDelete($event)"></app-pesos>
    </ng-container>
    <ng-template #noPesos>
      <ion-item lines="none" class="ion-padding"
        >Insira o peso em arrobas registrado e depois a data da pesagem.</ion-item
      >
    </ng-template>
  </ion-list>
</ion-content>
