<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Partos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="partoForm">
    <ion-list>
      <ion-item>
        <ion-input
          placeholder="Ordem"
          type="number"
          formControlName="ordem"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          placeholder="Data"
          type="date"
          formControlName="data"
          #data
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      class="submit-btn"
      type="submit"
      (click)="saveParto()"
      [disabled]="partoForm.invalid"
    >
      Salvar
    </ion-button>
  </form>

  <ion-list *ngIf="(parto$ | async) as partos">
    <ng-container *ngIf="partos.length > 0; else noPartos">
      <app-partos *ngFor="let parto of partos"
        [parto]="parto"
        (delete)="onDelete($event)"></app-partos>
    </ng-container>
    <ng-template #noPartos>
      <ion-item lines="none" class="ion-padding"
        >Insira qual a ordem do parto e depois a data em
        que foi realizado.</ion-item
      >
    </ng-template>
  </ion-list>
</ion-content>
