<ion-header>
  <ion-toolbar>
    <app-menu-toggle
      slot="start"
      menu="main-menu"
    ></app-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngIf="user">
    <p>{{user.displayName}}</p>
    <p slot="end">{{date}}</p>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card
          routerLink="/main/male-list"
          id="gender"
        >
          <ion-card-content>
            Você possui
            <h1>{{males}}</h1>
            machos
            <p>Confira a lista</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card
          routerLink="/main/female-list"
          id="gender"
        >
          <ion-card-content>
            Você possui
            <h1>{{females}}</h1>
            fêmeas
            <p>Confira a lista</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="taxas">
    <ion-card-content>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <p>Taxa de Prenhez</p>
          </ion-col>
          <ion-col size="4">
            <p>Taxa de Concepção</p>
          </ion-col>
          <ion-col size="4">
            <p>Taxa de Desmame</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <h1>{{prenhez}}%</h1>
          </ion-col>
          <ion-col size="4">
            <h1>{{concepcao}}%</h1>
          </ion-col>
          <ion-col size="4">
            <h1>{{desmame}}%</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card id="numbers">
          <ion-card-content>
            <ion-label>Bezerros mamando</ion-label>
            <p>{{mamando}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card id="numbers">
          <ion-card-content>
            <ion-label>Machos desmamados</ion-label>
            <p>{{ desmamado }}</p>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card id="numbers">
          <ion-card-content>
            <ion-label>Fêmeas desmamadas</ion-label>
            <p>{{desmamadoF}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card id="numbers">
          <ion-card-content>
            <ion-label>Vacas em cobertura</ion-label>
            <p>{{cobertura}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card id="numbers">
          <ion-card-content>
            <ion-label>Prenhes</ion-label>
            <p>{{prenhes}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row></ion-row>
  </ion-grid>
</ion-content>
