#gender{
  background-color: #de4307;

  ion-card-content{
    color: white;

    h1{
      color:white;
    }

    p{
      color:white;
    }
  }
}

#numbers{
  background-color: #f29c2b;
}

.taxas{
  background-color: #8bc24c;
  p,h1{
    color: white;
  }
}
