<ion-header>
  <ion-toolbar>
    <app-menu-toggle slot="start" menu="main-menu"></app-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-tab-bar >
    <ion-tab-button tab="macho">
      <h3>M</h3>
    </ion-tab-button>

    <ion-tab-button tab="femea">
      <h3>F</h3>
    </ion-tab-button>
  </ion-tab-bar>
  <ion-button routerLink="/main/female-list">Lista Fêmeas</ion-button>
  <ion-button routerLink="/main/create-female">Nova Fêmea</ion-button>
  <ion-button routerLink="/main/male-list">Lista Macho</ion-button>
  <ion-button routerLink="/main/create-male">Novo Macho</ion-button>
</ion-content>
