<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/main"></ion-back-button>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="ion-text-center">
    <ion-icon src="assets/icon/boi.svg" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup]="animalForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon src="assets/icon/tag.svg" slot="start"></ion-icon>
      <ion-label>Nº do Brinco:</ion-label>
      <ion-input
        type="text"
        autofocus="true"
        inputmode="text"
        formControlName="brinco"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="barbell" slot="start"></ion-icon>
      <ion-label>Peso:</ion-label>
      <ion-input
        type="number"
        autofocus="true"
        inputmode="number"
        formControlName="peso"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Nascimento:</ion-label>
      <ion-input
        type="date"
        autofocus="true"
        formControlName="nascimento"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Apartação:</ion-label>
      <ion-input
        type="date"
        autofocus="true"
        formControlName="apartação"
      ></ion-input>
    </ion-item>


    <ion-button (click)="saveVacinas()"> Vacinas </ion-button>

    <ion-button (click)="montasAndPartos()"> Montas e Partos </ion-button>

    <ion-button type="submit" [disabled]="animalForm.invalid" expand="full"
      >Salvar</ion-button
    >
  </form>
</ion-content>
