<ion-header>
  <ion-toolbar>
    <ion-title>monta-parto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title>Montas/IA</ion-title>
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>1ª Monta/IA</ion-label>
    <ion-input type="date" slot="end"></ion-input>
  </ion-item>
    <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>2ª Monta/IA</ion-label>
    <ion-input type="date" slot="end"></ion-input>
  </ion-item>
    <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>3ª Monta/IA</ion-label>
    <ion-input type="date" slot="end"></ion-input>
  </ion-item>

  <ion-title>Partos</ion-title>
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>1º Parto</ion-label>
    <ion-input type="date" slot="end" #awesome></ion-input>
  </ion-item>
    <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>2º Parto</ion-label>
    <ion-input type="date" slot="end"></ion-input>
  </ion-item>
    <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>3º Parto</ion-label>
    <ion-input type="date" slot="end"></ion-input>
  </ion-item>

  <ion-button type="submit" (click)="submit(awesome.value)">
    Click me
  </ion-button>
</ion-content>
