h1 ion-icon {
  background-color: #f29c2b;
  padding: 0.8em;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

#start{
  background-color: #de4307;
  color: white;
  font-size:1.2rem;
  padding: 0.85rem;
  border-radius: 0.4rem;
  margin-top: 2rem;
}


